@font-face{
  font-family:"Press Start 2P";
  src:local('Press Start 2P'),url(./fonts/PressStart2P-Regular.ttf) format("ttf");
}

html,body{
  margin:0;
  padding:0;
}

.App{
   font-family:'Press Start 2P', courier;
   width:100vw;
   height:100vh;

   display:flex;
   flex-direction: row;
   justify-content: center;
   align-content: flex-start;
   text-align:center;
}

.header{
  background-color: purple;
  font-size: 50px;
  width:100%;
  
}

.score-row{
  width:100%;
}